apiVersion: networking.gke.io/v1
kind: HealthCheckPolicy
metadata:
  name: meeting-api-gateway-health-check
  namespace: $NAMESPACE
spec:
  default:
    checkIntervalSec: 10
    timeoutSec: 5
    healthyThreshold: 2
    unhealthyThreshold: 2
    logConfig:
      enabled: true
    config:
      type: HTTP
      httpHealthCheck:
        port: 3000
        requestPath: /api/readiness
  targetRef:
    group: ''
    kind: Service
    name: meeting-api-gateway
