apiVersion: apps/v1
kind: Deployment
metadata:
  name: meeting-api-gateway
  namespace: meeting-app
  labels:
    app: meeting-api-gateway
    version: v0.0.1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: meeting-api-gateway
  template:
    metadata:
      labels:
        app: meeting-api-gateway
        version: v0.0.1
    spec:
      containers:
        - name: meeting-api-gateway
          image: oldestspy/meeting-api-gateway:0.0.2
          ports:
            - containerPort: 3001
              name: http
          envFrom:
            - configMapRef:
                name: meeting-api-gateway-config
            - secretRef:
                name: meeting-api-gateway-secrets
          resources:
            requests:
              memory: '256Mi'
              cpu: '250m'
            limits:
              memory: '512Mi'
              cpu: '500m'
          livenessProbe:
            httpGet:
              path: /api/liveness
              port: 3001
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/readiness
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 5
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: meeting-api-gateway-service
  namespace: meeting-app
  labels:
    app: meeting-api-gateway
spec:
  selector:
    app: meeting-api-gateway
  ports:
    - port: 3001
      targetPort: 3001
      protocol: TCP
      name: http
  type: ClusterIP
